{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">Welcome to theDifference</p>
    </div>
  </div>
</header>
<br />
<br />

<br />
<div class="container">
  <div class="row">
    <center>
      <div class="col-8">
        <p align="justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut felis
          quis nisi condimentum porta. Nulla aliquam at sapien quis euismod.
          Vestibulum vitae turpis vitae augue placerat semper ut vel libero.
          Maecenas elementum fringilla dui, porta pulvinar sapien ullamcorper
          quis. Nam scelerisque facilisis risus vitae lacinia. Cras tristique,
          neque et cursus accumsan, urna diam consequat quam, in imperdiet purus
          risus sit amet ipsum. Sed at eros maximus, sollicitudin urna viverra,
          congue velit. Mauris pharetra purus ut diam elementum, ut finibus
          neque cursus. Vestibulum convallis vestibulum mauris vel cursus. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie,
          dolor eget malesuada vulputate, lacus massa iaculis quam, in malesuada
          enim eros a tortor. Suspendisse pulvinar ex accumsan, accumsan ante
          ac, ornare lorem. Duis viverra dolor quis pharetra elementum.
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut felis
          quis nisi condimentum porta. Nulla aliquam at sapien quis euismod.
          Vestibulum vitae turpis vitae augue placerat semper ut vel libero.
          Maecenas elementum fringilla dui, porta pulvinar sapien ullamcorper
          quis. Nam scelerisque facilisis risus vitae lacinia. Cras tristique,
          neque et cursus accumsan, urna diam consequat quam, in imperdiet purus
          risus sit amet ipsum. Sed at eros maximus, sollicitudin urna viverra,
          congue velit. Mauris pharetra purus ut diam elementum, ut finibus
          neque cursus. Vestibulum convallis vestibulum mauris vel cursus. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie,
          dolor eget malesuada vulputate, lacus massa iaculis quam, in malesuada
          enim eros a tortor. Suspendisse pulvinar ex accumsan, accumsan ante
          ac, ornare lorem. Duis viverra dolor quis pharetra elementum.
          <br />
        </p>
      </div>
    </center>
  </div>
</div>
{% endblock %}
